.store-item:hover {
  cursor: pointer;
}

.store-item {
  margin-bottom: 5px;
}

.item-content {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

.item-number {
  font-family: "Arial", Sans-serif;
  font-size: 30px;
}

.broker-title {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
}