@import '../../variables';

.backdrop {
  background: $backdrop-color;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9998;
}

.simple-modal {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15em;
  top: 50%;
  width: 40%;
  z-index: 9999;
}
