@import '../../variables';

.backdrop {
  background: $backdrop-color;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9998;
}

.simple-modal {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15em;
  top: 50%;
  width: 40%;
  z-index: 9999;
}

.welcome-modal {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15em;
  top: 50%;
  width: 40%;
  z-index: 9999;
}

.trust-fund-modal {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  top: 50%;
  width: 25%;
  z-index: 9999;
}

.credit-modal {
  margin-left: auto;
  margin-right: 28em;
  margin-top: 8em;
  top: 50%;
  width: 25%;
  z-index: 9999;
}

.teller-modal {
  margin-left: 13em;
  margin-right: auto;
  margin-top: 10em;
  top: 50%;
  width: 25%;
  z-index: 9999;
}

.broker-modal {
  margin-left: auto;
  margin-right: 1em;
  margin-top: 30em;
  top: 50%;
  width: 25%;
  z-index: 9999;
}


