@import 'variables';

@import 'Components/NewsRoom/NewsRoom';
@import 'Components/Shop/Shop';
@import 'Components/Shop/KeyBoundShopItem';
@import 'Components/Shop/ShopItemStats';
@import 'Components/Logo/Logo';
@import 'Components/ScoreRollup/ScoreRollup';
@import 'Components/RealEstateMap/RealEstateMap';
@import 'Components/Mint/MintShop';

.side-panel {
  padding-top: 3em;
}

.header-row {
  padding-bottom: 1em;
}

.feedback-zone {
  margin: auto;
}

.map-zone {
  margin-bottom: 2em;
  margin-top: 2em;
}

.news-room {
  margin: auto;
}
