@import '../../variables';

.score-rollup {
  font-size: 18px;
  font-weight: bold;
  padding: 1em;
}

.cash {
  color: $green;
  padding-left: .5em;
}

.income {
  color: $green;
  padding-left: .5em;
}
